<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536858787425-h8aabq914n7t2mldh26mgbsamd98so46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536858787425-h8aabq914n7t2mldh26mgbsamd98so46</string>
	<key>API_KEY</key>
	<string>AIzaSyDbHfVG3M2hxTt8ti8yOFoG0j6XhfvDxtk</string>
	<key>GCM_SENDER_ID</key>
	<string>536858787425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cepEczane</string>
	<key>PROJECT_ID</key>
	<string>cep-eczane</string>
	<key>STORAGE_BUCKET</key>
	<string>cep-eczane.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536858787425:ios:1f7fedf639f268bced7420</string>
</dict>
</plist>